body {
	font-family: Verdana, sans-serif;	
	color: #666666;
	font-size: 16px;
	line-height: 32px;
}

h1{
	text-transform: capitalize;
	font-weight: 400;
	font-size: 48px;
}

h2 {
	color: #f07c17;
	font-weight: 700;
	font-size: 24px;
	vertical-align: text-top;
	margin-bottom: 30px;
}

.border-box {
	border: 1px solid #cccccc;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 30px;
	margin-top: 30px;
}

.title-super {
	margin-top: 45px;
}

.top-buffer { 
	margin-top:20px; 
}


